<br>
  <h3 id="header" style="text-align:center">New Journal Entry</h3>
<br>

<div class="container entry-form active">
  <div class="row">
    <div class="col-md-2 emotion-select">
      <div class="row">
        <div class="col-md-1">
          <br>
        </div>
        <br>
        <div class="col-md-10 emotions">
          <%= render(partial: 'new_entry/sliders') %>
        </div>
      </div>
    </div>
    <%= render(partial: 'new_entry/input_form') %>
  </div>
</div>
