<br>
<h3 style="text-align:center">New Journal Entry</h3>
<br>

<div class="container entry-form">
  <div class="row">
    <div class="col-md-2 emotion-select">
      <div class="row">
        <div class="col-md-1">
          <br>
        </div>
        <br>
        <div class="col-md-10 emotions">
          <div class="emotion-container">


            <div class="happy">
              <p>Happy</p>
              <input class="happy-slide" type="range" name="name" min="0" max="10" value="0"><br>
            </div>

            <div class="sad">
              <p>Sad</p>
              <input class="sad-slide" type="range" name="name" min="0" max="10" value="0"><br>
            </div>
            <div class="angry">
              <p>Angry</p>
              <input class="sad-slide" type="range" name="name" min="0" max="10" value="0"><br>
            </div>
            <div class="anxious">
              <p>Anxious</p>
              <input class="sad-slide" type="range" name="name" min="0" max="10" value="0"><br>
            </div>
            <div class="focused">
              <p>Focused</p>
              <input class="sad-slide" type="range" name="name" min="0" max="10" value="0"><br>
            </div>
            <div class="content">
              <p>Content</p>
              <input class="sad-slide" type="range" name="name" min="0" max="10" value="0"><br>
            </div>
            <!-- <div class="sad">
              Sad
              <input class="sad-slide" type="range" name="name" min="0" max="10" value="0"><br>
            </div>
            <div class="sad">
              Sad
              <input class="sad-slide" type="range" name="name" min="0" max="10" value="0"><br>
            </div> -->

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <%= form_for(@entry, html:{autocomplete:"off"}) do |f| %>
      <div class="form-group">
        <%= f.text_field :tag, id: "tag", value: "Tag your post with a descriptive title" %>
        <%= f.text_area :body, value: "New Entry" %>
      </div>

      <div class="create-entry">
        <%= f.submit class:"submit-entry"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
