---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/about
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.mgLygYTY4d60AX7i8SfNQsaUc9swHiNwj2dYo2rD6QNdtFU1MRZHbdrbVce0hgV5apw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }
  recorded_at: Sun, 06 Mar 2016 22:12:50 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/about
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.mgLygYTY4d60AX7i8SfNQsaUc9swHiNwj2dYo2rD6QNdtFU1MRZHbdrbVce0hgV5apw
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }
  recorded_at: Sun, 06 Mar 2016 22:12:51 GMT
recorded_with: VCR 3.0.1
