---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/about
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.mgLygYTY4d60AX7i8SfNQsaUc9swHiNwj2dYo2rD6QNdtFU1MRZHbdrbVce0hgV5apw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/KtyCCXXqePDzH1tZGegGDuySb5c"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#about",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/KtyCCXXqePDzH1tZGegGDuySb5c\"",
         "selfLink": "https://www.googleapis.com/drive/v2/about",
         "name": "Aaron Greenspan",
         "user": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "quotaBytesTotal": "16106127360",
         "quotaBytesUsed": "784286871",
         "quotaBytesUsedAggregate": "3393165842",
         "quotaBytesUsedInTrash": "222422152",
         "quotaType": "LIMITED",
         "quotaBytesByService": [
          {
           "serviceName": "DRIVE",
           "bytesUsed": "782270227"
          },
          {
           "serviceName": "GMAIL",
           "bytesUsed": "2608878971"
          },
          {
           "serviceName": "PHOTOS",
           "bytesUsed": "0"
          }
         ],
         "largestChangeId": "28483",
         "rootFolderId": "0AKRbWURSvBBZUk9PVA",
         "domainSharingPolicy": "allowed",
         "permissionId": "18263496424187584795",
         "importFormats": [
          {
           "source": "application/x-vnd.oasis.opendocument.presentation",
           "targets": [
            "application/vnd.google-apps.presentation"
           ]
          },
          {
           "source": "text/tab-separated-values",
           "targets": [
            "application/vnd.google-apps.spreadsheet"
           ]
          },
          {
           "source": "image/jpeg",
           "targets": [
            "application/vnd.google-apps.document"
           ]
          },
          {
           "source": "image/bmp",
           "targets": [
            "application/vnd.goo[...]
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"title":"Tag your post with a descriptive title"}'
    headers:
      Authorization:
      - Bearer ya29.mgLygYTY4d60AX7i8SfNQsaUc9swHiNwj2dYo2rD6QNdtFU1MRZHbdrbVce0hgV5apw
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '9'
      X-Goog-Upload-Header-Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Upjgp28FTsKsM31AEDuWpZXn4bJPW5VZ4c52V4jY2F2yVpxgnhW1mF1XQjt0t8p8kyY_oXYdxKrrT_HYDJbu1Vka6c4Fw&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Upjgp28FTsKsM31AEDuWpZXn4bJPW5VZ4c52V4jY2F2yVpxgnhW1mF1XQjt0t8p8kyY_oXYdxKrrT_HYDJbu1Vka6c4Fw&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/7lwK8xHvA4GAA1B8wnNV0Akc7ec"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - oiww186:4812
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CODbuOmyDxoCGAYwADpsCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGL_n4ebLESJINjA0NDYzNzIzNDU1LWpxZmFwaG50N3RtcnEwdmVnYm5sczNzdmc0cHIzZ3VjLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tMPEOSlsSSHlhMjkubWdMeWdZVFk0ZDYwQVg3aThTZk5Rc2FVYzlzd0hpTndqMmRZbzJyRDZRTmR0RlUxTVJaSGJkcmJWY2UwaGdWNWFwdzAEOg0xL0VFd1dWZEtlV3J-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 03 Mar 2016 01:32:36 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Mar 2016 01:32:36 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Upjgp28FTsKsM31AEDuWpZXn4bJPW5VZ4c52V4jY2F2yVpxgnhW1mF1XQjt0t8p8kyY_oXYdxKrrT_HYDJbu1Vka6c4Fw&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: New Entry
    headers:
      Authorization:
      - Bearer ya29.mgLygYTY4d60AX7i8SfNQsaUc9swHiNwj2dYo2rD6QNdtFU1MRZHbdrbVce0hgV5apw
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1Njk2ODc1Njc0Mg"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B6RbWURSvBBZYWpENGF6dGNWSUk",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1Njk2ODc1Njc0Mg\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZYWpENGF6dGNWSUk",
         "webContentLink": "https://docs.google.com/uc?id=0B6RbWURSvBBZYWpENGF6dGNWSUk&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B6RbWURSvBBZYWpENGF6dGNWSUk/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_10_text_list.png",
         "title": "Tag your post with a descriptive title",
         "mimeType": "text/plain",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-03T01:32:36.742Z",
         "modifiedDate": "2016-03-03T01:32:36.742Z",
         "modifiedByMeDate": "2016-03-03T01:32:36.742Z",
         "lastViewedByMeDate": "2016-03-03T01:32:36.742Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "28484",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AKRbWURSvBBZUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZYWpENGF6dGNWSUk/parents/0AKRbWURSvBBZUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AKRbWURSvBBZUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-0o-00-docs.googleusercontent.com/docs/securesc/2vqebim1tkcv5ku1huq6787nnmiolkcl/icj4f0aic152s6v66n0cbm6bbq9aq10v/1456963200000/18263496424187584795/18263496424187584795/0B6RbWURSvBBZYWpENGF6dGNWSUk?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/vQrO_psIVdenS9ERSyP61tJXc14\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZYWpENGF6dGNWSUk/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Tag your post with a descriptive title",
         "fileExtension": "",
         "md5Checksum": "076e417ed4e3d2f434f2fabeeb0ea25f",
         "fileSize": "9",
         "quotaBytesUsed": "9",
         "ownerNames": [
          "Aaron Greenspan"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Aaron Greenspan",
           "isAuthenticatedUser": true,
           "permissionId": "18263496424187584795",
           "emailAddress": "afg419@gmail.com"
          }
         ],
         "lastModifyingUserName": "Aaron Greenspan",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B6RbWURSvBBZV25KcjgrQ1krWjQ0MEFFWlZWY3N6K0YycHlBPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Thu, 03 Mar 2016 01:32:37 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"title":""}'
    headers:
      Authorization:
      - Bearer ya29.nQKRWMi5eZ3pif1uHlcXH09CPzoI-x2d3Uo6mCxhk-D8hAq_lSDpt58xgopXxFYR_HA
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - text/plain
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Goog-Upload-Status:
      - final
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }
  recorded_at: Thu, 10 Mar 2016 04:10:05 GMT
recorded_with: VCR 3.0.1
