---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/about
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.nQKRWMi5eZ3pif1uHlcXH09CPzoI-x2d3Uo6mCxhk-D8hAq_lSDpt58xgopXxFYR_HA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/7PPNzdBF45a60etPynQI9VUH5jo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#about",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/7PPNzdBF45a60etPynQI9VUH5jo\"",
         "selfLink": "https://www.googleapis.com/drive/v2/about",
         "name": "Aaron Greenspan",
         "user": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "quotaBytesTotal": "16106127360",
         "quotaBytesUsed": "784286224",
         "quotaBytesUsedAggregate": "3393165195",
         "quotaBytesUsedInTrash": "222421631",
         "quotaType": "LIMITED",
         "quotaBytesByService": [
          {
           "serviceName": "DRIVE",
           "bytesUsed": "782270227"
          },
          {
           "serviceName": "GMAIL",
           "bytesUsed": "2608878971"
          },
          {
           "serviceName": "PHOTOS",
           "bytesUsed": "0"
          }
         ],
         "largestChangeId": "29254",
         "rootFolderId": "0AKRbWURSvBBZUk9PVA",
         "domainSharingPolicy": "allowed",
         "permissionId": "18263496424187584795",
         "importFormats": [
          {
           "source": "application/x-vnd.oasis.opendocument.presentation",
           "targets": [
            "application/vnd.google-apps.presentation"
           ]
          },
          {
           "source": "text/tab-separated-values",
           "targets": [
            "application/vnd.google-apps.spreadsheet"
           ]
          },
          {
           "source": "image/jpeg",
           "targets": [
            "application/vnd.google-apps.document"
           ]
          },
          {
           "source": "image/bmp",
           "targets": [
            "application/vnd.goo[...]
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"title":"Title1"}'
    headers:
      Authorization:
      - Bearer ya29.nQKRWMi5eZ3pif1uHlcXH09CPzoI-x2d3Uo6mCxhk-D8hAq_lSDpt58xgopXxFYR_HA
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '11'
      X-Goog-Upload-Header-Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpbJhG02gSqS7tdOv9-Vuka3K_QBzk0qakFreLcJo8dduoo7zIVIi9ImFE_VACnpVeGP2UwPbG5_r_3JlVk0e6spZx_Ag&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpbJhG02gSqS7tdOv9-Vuka3K_QBzk0qakFreLcJo8dduoo7zIVIi9ImFE_VACnpVeGP2UwPbG5_r_3JlVk0e6spZx_Ag&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/7lwK8xHvA4GAA1B8wnNV0Akc7ec"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - oepy9:4552
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CODbuOmyDxoCGAYwADpsCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGL_n4ebLESJINjA0NDYzNzIzNDU1LWpxZmFwaG50N3RtcnEwdmVnYm5sczNzdmc0cHIzZ3VjLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tMPEOSlsSSHlhMjkublFLUldNaTVlWjNwaWYxdUhsY1hIMDlDUHpvSS14MmQzVW82bUN4aGstRDhoQXFfbFNEcHQ1OHhnb3BYeEZZUl9IQTAEOg0xL0VFd1dWZEtlV3J-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sun, 06 Mar 2016 23:05:26 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 06 Mar 2016 23:05:26 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpbJhG02gSqS7tdOv9-Vuka3K_QBzk0qakFreLcJo8dduoo7zIVIi9ImFE_VACnpVeGP2UwPbG5_r_3JlVk0e6spZx_Ag&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: I hate life
    headers:
      Authorization:
      - Bearer ya29.nQKRWMi5eZ3pif1uHlcXH09CPzoI-x2d3Uo6mCxhk-D8hAq_lSDpt58xgopXxFYR_HA
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1NzMwNTUyNjM3NQ"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B6RbWURSvBBZbnp2S1BfeVk0SU0",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1NzMwNTUyNjM3NQ\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZbnp2S1BfeVk0SU0",
         "webContentLink": "https://docs.google.com/uc?id=0B6RbWURSvBBZbnp2S1BfeVk0SU0&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B6RbWURSvBBZbnp2S1BfeVk0SU0/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_10_text_list.png",
         "title": "Title1",
         "mimeType": "text/plain",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-06T23:05:26.375Z",
         "modifiedDate": "2016-03-06T23:05:26.375Z",
         "modifiedByMeDate": "2016-03-06T23:05:26.375Z",
         "lastViewedByMeDate": "2016-03-06T23:05:26.375Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "29255",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AKRbWURSvBBZUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZbnp2S1BfeVk0SU0/parents/0AKRbWURSvBBZUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AKRbWURSvBBZUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-08-00-docs.googleusercontent.com/docs/securesc/2vqebim1tkcv5ku1huq6787nnmiolkcl/au55o7k3fjhlkcabhu9st42012sqhs35/1457301600000/18263496424187584795/18263496424187584795/0B6RbWURSvBBZbnp2S1BfeVk0SU0?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/IFWiPleo0huBi0KoXA0cjdnOjFs\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZbnp2S1BfeVk0SU0/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Title1",
         "fileExtension": "",
         "md5Checksum": "0424f3d4f310b0e372ed6294a4ff8f7b",
         "fileSize": "11",
         "quotaBytesUsed": "11",
         "ownerNames": [
          "Aaron Greenspan"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Aaron Greenspan",
           "isAuthenticatedUser": true,
           "permissionId": "18263496424187584795",
           "emailAddress": "afg419@gmail.com"
          }
         ],
         "lastModifyingUserName": "Aaron Greenspan",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B6RbWURSvBBZN2l3cUFWVnZES0Ezd1UzZzlUL2wxcDJpdVhJPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Sun, 06 Mar 2016 23:05:27 GMT
recorded_with: VCR 3.0.1
