---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/about
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.mQJ3MFwT7hJMEzeUWaiA7OBKeVOhJ4q8yQyilPGrjVkssyyUnP7pw6DzDvZaAvoKO2E
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/7yLnO2kSDp-lJFSo41GPz2CMJcI"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#about",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/7yLnO2kSDp-lJFSo41GPz2CMJcI\"",
         "selfLink": "https://www.googleapis.com/drive/v2/about",
         "name": "Aaron Greenspan",
         "user": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "quotaBytesTotal": "16106127360",
         "quotaBytesUsed": "784286687",
         "quotaBytesUsedAggregate": "3393165658",
         "quotaBytesUsedInTrash": "222422152",
         "quotaType": "LIMITED",
         "quotaBytesByService": [
          {
           "serviceName": "DRIVE",
           "bytesUsed": "782270227"
          },
          {
           "serviceName": "GMAIL",
           "bytesUsed": "2608878971"
          },
          {
           "serviceName": "PHOTOS",
           "bytesUsed": "0"
          }
         ],
         "largestChangeId": "28429",
         "rootFolderId": "0AKRbWURSvBBZUk9PVA",
         "domainSharingPolicy": "allowed",
         "permissionId": "18263496424187584795",
         "importFormats": [
          {
           "source": "application/x-vnd.oasis.opendocument.presentation",
           "targets": [
            "application/vnd.google-apps.presentation"
           ]
          },
          {
           "source": "text/tab-separated-values",
           "targets": [
            "application/vnd.google-apps.spreadsheet"
           ]
          },
          {
           "source": "image/jpeg",
           "targets": [
            "application/vnd.google-apps.document"
           ]
          },
          {
           "source": "image/bmp",
           "targets": [
            "application/vnd.goo[...]
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"title":"Title1"}'
    headers:
      Authorization:
      - Bearer ya29.mQJ3MFwT7hJMEzeUWaiA7OBKeVOhJ4q8yQyilPGrjVkssyyUnP7pw6DzDvZaAvoKO2E
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '8'
      X-Goog-Upload-Header-Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UrqFS9PdsIl2dJdBJoem1ZBn5XsL6staf9J21lwkmgexLYrv-ekzIdMfGrJGwg1YRYYkbts-R9FD9IgCT75Eh2krFk_Eg&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UrqFS9PdsIl2dJdBJoem1ZBn5XsL6staf9J21lwkmgexLYrv-ekzIdMfGrJGwg1YRYYkbts-R9FD9IgCT75Eh2krFk_Eg&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/7lwK8xHvA4GAA1B8wnNV0Akc7ec"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - oihn7:4714
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CODbuOmyDxoCGAYwADpsCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGL_n4ebLESJINjA0NDYzNzIzNDU1LWpxZmFwaG50N3RtcnEwdmVnYm5sczNzdmc0cHIzZ3VjLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tMPEOSlsSSHlhMjkubVFKM01Gd1Q3aEpNRXplVVdhaUE3T0JLZVZPaEo0cTh5UXlpbFBHcmpWa3NzeXlVblA3cHc2RHpEdlphQXZvS08yRTAEOg0xL0VFd1dWZEtlV3J-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Wed, 02 Mar 2016 17:52:01 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Mar 2016 17:52:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UrqFS9PdsIl2dJdBJoem1ZBn5XsL6staf9J21lwkmgexLYrv-ekzIdMfGrJGwg1YRYYkbts-R9FD9IgCT75Eh2krFk_Eg&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: Content1
    headers:
      Authorization:
      - Bearer ya29.mQJ3MFwT7hJMEzeUWaiA7OBKeVOhJ4q8yQyilPGrjVkssyyUnP7pw6DzDvZaAvoKO2E
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1Njk0MTEyMjM2Ng"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B6RbWURSvBBZUEhpdEoyZmdYWG8",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1Njk0MTEyMjM2Ng\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZUEhpdEoyZmdYWG8",
         "webContentLink": "https://docs.google.com/uc?id=0B6RbWURSvBBZUEhpdEoyZmdYWG8&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B6RbWURSvBBZUEhpdEoyZmdYWG8/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_10_text_list.png",
         "title": "Title1",
         "mimeType": "text/plain",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-02T17:52:02.366Z",
         "modifiedDate": "2016-03-02T17:52:02.366Z",
         "modifiedByMeDate": "2016-03-02T17:52:02.366Z",
         "lastViewedByMeDate": "2016-03-02T17:52:02.366Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "28430",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AKRbWURSvBBZUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZUEhpdEoyZmdYWG8/parents/0AKRbWURSvBBZUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AKRbWURSvBBZUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-08-00-docs.googleusercontent.com/docs/securesc/2vqebim1tkcv5ku1huq6787nnmiolkcl/5k8troofl44uei0c45f46bepp50ejc00/1456934400000/18263496424187584795/18263496424187584795/0B6RbWURSvBBZUEhpdEoyZmdYWG8?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/N8O9G28LzvFl7ndf2mL7jbggJqA\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZUEhpdEoyZmdYWG8/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Title1",
         "fileExtension": "",
         "md5Checksum": "fa24d6cd699ee300f6a7a5c9e8a89c2b",
         "fileSize": "8",
         "quotaBytesUsed": "8",
         "ownerNames": [
          "Aaron Greenspan"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Aaron Greenspan",
           "isAuthenticatedUser": true,
           "permissionId": "18263496424187584795",
           "emailAddress": "afg419@gmail.com"
          }
         ],
         "lastModifyingUserName": "Aaron Greenspan",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B6RbWURSvBBZUkVaQUVqSzY4WVRJR0M0WEFGYWExSUVUaWJvPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Wed, 02 Mar 2016 17:52:02 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZUEhpdEoyZmdYWG8?alt=media
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.mQJ3MFwT7hJMEzeUWaiA7OBKeVOhJ4q8yQyilPGrjVkssyyUnP7pw6DzDvZaAvoKO2E
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Content-Disposition:
      - attachment
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTA0MzM0Nzg2MQ"'
      X-Goog-Hash:
      - crc32c=vifpSg==
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: Content1
  recorded_at: Wed, 02 Mar 2016 17:52:03 GMT
recorded_with: VCR 3.0.1
