---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/all/.json?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=EW1py8qQN1U7KzjtN%2BCWuuGs3AafmDjcxPNHWxbUtZXx5xE%2BNoSO9xggyAVvibQCpTFKCACRXrU%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "i.imgur.com", "banned_by": null, "media_embed": {}, "subreddit":
        "WTF", "selftext_html": null, "selftext": "", "likes": null, "suggested_sort":
        null, "user_reports": [], "secure_media": null, "link_flair_text": null, "id":
        "493m7a", "from_kind": null, "gilded": 0, "archived": false, "clicked": false,
        "report_reasons": null, "author": "theresheblowshard", "media": null, "score":
        4770, "approved_by": null, "over_18": false, "hidden": false, "num_comments":
        496, "thumbnail": "", "subreddit_id": "t5_2qh61", "hide_score": false, "edited":
        false, "link_flair_css_class": null, "author_flair_css_class": null, "downs":
        0, "secure_media_embed": {}, "saved": false, "removal_reason": null, "stickied":
        false, "from": null, "is_self": false, "from_id": null, "permalink": "/r/WTF/comments/493m7a/traffic_accident/",
        "locked": false, "name": "t3_493m7a", "created": 1457232551.0, "url": "http://i.imgur.com/UJVGNv0.mp4",
        "author_flair_text": null, "quarantine": false, "title": "Traffic accident",
        "created_utc": 1457203751.0, "distinguished": null, "mod_reports": [], "visited":
        false, "num_reports": null, "ups": 4770}}, {"kind": "t3", "data": {"domain":
        "inquisitr.com", "banned_by": null, "media_embed": {}, "subreddit": "politics",
        "selftext_html": null, "selftext": "", "likes": null, "suggested_sort": null,
        "user_reports": [], "secure_media": null, "link_flair_text": null, "id": "492viu",
        "from_kind": null, "gilded": 0, "archived": false, "clicked": false, "report_reasons":
        null, "author": "WildAnimus", "media": null, "score": 7463, "approved_by":
        null, "over_18": false, "hidden": false, "preview": {"images": [{"source":
        {"url": "https://i.redditmedia.com/OnH_nv_oPDz3gc3iJt4h_kCD_3dhobh4sC4yGfTszlI.jpg?s=e8c07415cfdbb4e867a9bc38156bdb21",
        "width": 900, "height": 440}, "resolutions": [{"url": "https://i.redditmedia.com/OnH_nv_oPDz3gc3iJt4h_kCD_3dhobh4sC4yGfTszlI.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=89bd63cda80b1f56a75cc9a28dc6ab3e",
        "width": 108, "height": 52}, {"url": "https://i.redditmedia.com/OnH_nv_oPDz3gc3iJt4h_kCD_3dhobh4sC4yGfTszlI.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=8331352bf4146764f2475ce51c144fa7",
        "width": 216, "height": 105}, {"url": "https://i.redditmedia.com/OnH_nv_oPDz3gc3iJt4h_kCD_3dhobh4sC4yGfTszlI.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=4d706041d1422975802e19200d2e4fb6",
        "width": 320, "height": 156}, {"url": "https://i.redditmedia.com/OnH_nv_oPDz3gc3iJt4h_kCD_3dhobh4sC4yGfTszlI.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=640&amp;s=6040eac889097af04aab86fb9189845d",
        "width": 640, "height": 312}], "variants": {}, "id": "t5sAUOpW1z1mT5zySUI0ZAiuLTOzSurPLE3tmeo0Wow"}]},
        "num_comments": 1840, "thumbnail": "http://b.thumbs.redditmedia.com/VYlxEzSjUqPKWBRyvqTo3lFI-Wjl-tfe6AOadFpIBTk.jpg",
        "subreddit_id": "t5_2cneq", "hide_score": false, "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "secure_media_embed": {},
        "saved": false, "removal_reason": null, "post_hint": "link", "stickied": false,
        "from": null, "is_self": false, "from_id": null, "permalink": "/r/politics/comments/492viu/president_jimmy_carter_says_america_a_oncefree/",
        "locked": false, "name": "t3_492viu", "created": 1457221734.0, "url": "http://www.inquisitr.com/2850287/president-jimmy-carter-speaks-out-calls-the-u-s-an-oligarchy/",
        "author_flair_text": null, "quarantine": false, "title": "President Jimmy
        Carter says America, a once-free nation, is now an oligar[...]
- request:
    method: get
    uri: http://www.reddit.com/r/all/.json?after=t3_4924jh&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=ouSnBCjFqJ1set4kFb0Dyc%2F2XvGTavILGRYKw8yLP6ygjP7myaVJnK8fNDuokMtzrMErdy60O%2FY%3D
      X-Moose:
      - majestic
    bod[...]
