---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/all/new.json?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=yB1%2BgrDctK1OiRf%2FT9HMsFx2oUvfd5aXOATz79HQm1rLn1zg8MNJ1I54HawjEhR6qeGZuC3tPIY%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "youtube.com", "banned_by": null, "media_embed": {"content":
        "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F3RsMw89G6dI%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D3RsMw89G6dI&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F3RsMw89G6dI%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"450\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 600, "scrolling": false, "height": 450}, "subreddit": "classicalmusic",
        "selftext_html": null, "selftext": "", "likes": null, "suggested_sort": null,
        "user_reports": [], "secure_media": {"type": "youtube.com", "oembed": {"provider_url":
        "https://www.youtube.com/", "description": "Einojuhani Rautavaara - Ostrobothnian
        Chamber Orchestra, Juha Kangas \u200e- Complete Works For String Orchestra
        Label: Ondine \u200e- ODE 983-2D Format: 2 \u00d7 CD, Album Country: Austria
        Released: 2001 Genre: Classical Style: Contemporary, Modern", "title": "Einojuhani
        Rautavaara: An Epitaph For B\u00e9la Bart\u00f3k - Prelude And Fugue", "url":
        "http://www.youtube.com/watch?v=3RsMw89G6dI", "author_name": "soundsofatiredcity",
        "height": 450, "width": 600, "html": "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F3RsMw89G6dI%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D3RsMw89G6dI&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F3RsMw89G6dI%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"450\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "thumbnail_width": 480, "version": "1.0", "provider_name": "YouTube", "thumbnail_url":
        "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2F3RsMw89G6dI%2Fhqdefault.jpg&amp;key=b1e305db91cf4aa5a86b732cc9fffceb",
        "type": "video", "thumbnail_height": 360, "author_url": "https://www.youtube.com/user/soundsofatiredcity"}},
        "link_flair_text": null, "id": "494an2", "from_kind": null, "gilded": 0, "archived":
        false, "clicked": false, "report_reasons": null, "author": "TobiasGeffen",
        "media": {"type": "youtube.com", "oembed": {"provider_url": "https://www.youtube.com/",
        "description": "Einojuhani Rautavaara - Ostrobothnian Chamber Orchestra, Juha
        Kangas \u200e- Complete Works For String Orchestra Label: Ondine \u200e- ODE
        983-2D Format: 2 \u00d7 CD, Album Country: Austria Released: 2001 Genre: Classical
        Style: Contemporary, Modern", "title": "Einojuhani Rautavaara: An Epitaph
        For B\u00e9la Bart\u00f3k - Prelude And Fugue", "url": "http://www.youtube.com/watch?v=3RsMw89G6dI",
        "author_name": "soundsofatiredcity", "height": 450, "width": 600, "html":
        "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F3RsMw89G6dI%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D3RsMw89G6dI&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F3RsMw89G6dI%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"450\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "thumbnail_width": 480, "version": "1.0", "provider_name": "YouTube", "thumbnail_url":
        "https://i.ytimg.com/vi/3RsMw89G6dI/hqdefault.jpg", "type": "video", "thumbnail_height":
        360, "author_url": "https://www.youtube.com/user/soundsofatiredcity"}}, "score":
        1, "approved_by": null, "over_18": false, "hidden": false, "preview": {"images":
        [{"source": {"url": "https://i.redditmedia.com/Phj5gfqRWphB2npl4YY64kRmlMHiIqivJpXzOBViOXo.jpg?s=916ca99cf3645bd1f3fbad89bdbc8d45",
        "width": 480, "height": 360}, "resolutions": [{"url": "https://i.redditmedia.com/Phj5gfqRWphB2npl4YY64kRmlMHiIqivJpXzOBViOXo.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=a5a60403c6c03fb53512c99af729fbc2",
        "width": 108, "height": 81}, {"url": "https://i.redditmedia.com/Phj5gfqRWphB2npl4YY64kRmlMHiIqivJpXzOBViOXo.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=52bbd25a527d30d3ffe24b434bb461cd",
        "width": 216, "height": 162}, {"url": "https://i.redditmedia.com/Phj5gfqRWphB2npl4YY64kRmlMHiIqivJpXzOBViOXo.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=1248914dc15d7305f72bdcdbb64567e7",
        "width": 320, "height": 240}], "variants": {}, "id": "4p5C1ipjbeoMMyfQ2ikyMbp29p__n1tAv5jbAjuKZqM"}]},
        "num_comments": 0, "thumbnail": "http://b.thumbs.redditmedia.com/bq8WvHMTs3IDoDZVARG8O7L7raYH1OibxFKqsU8b7-c.jpg",
        "subreddit_id": "t5_2qhyq", "hide_score": true, "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": "bartok", "downs": 0, "secure_media_embed":
        {"content": "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F3RsMw89G6dI%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D3RsMw89G6dI&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F3RsMw89G6dI%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"450\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 600, "scrolling": false, "height": 450}, "saved": false, "removal_reason":
        null, "post_hint": "rich:video", "stickied": false, "from": null, "is_self":
        false, "from_id": null, "permalink": "/r/classicalmusic/comments/494an2/just_discovered_that_my_favorite_living_composer/",
        "locked": false, "name": "t3_494an2", "created": 1457242249.0, "url": "https://www.youtube.com/watch?v=3RsMw89G6dI",
        "author_flair_text": "", "quarantine": false, "title": "Just discovered that
        my favorite living composer has created a composition in homage to my favorite
        composer! | \"An Epitaph For B\u00e9la Bart\u00f3k\" \u2013 Einojuhani Rautavaara
        (1955/1986 arrangement) performed by Ostrobothnian Chamber Orchestra", "created_utc":
        1457213449.0, "distinguished": null, "mod_reports": [], "visited": false,
        "num_reports": null, "ups": 1}}, {"kind": "t3", "data": {"domain": "self.virtualreality",
        "banned_by": null, "media_embed": {}, "subreddit": "virtualreality", "selftext_html":
        "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;The potential for extreme
        aquatic sports and weightless space based experiences could be great enhanced
        with a HMD that works like a diver&amp;#39;s mask.&lt;/p&gt;\n\n&lt;p&gt;Allowing
        the VR user or experience to have water in the experience.&lt;/p&gt;\n[...]
