---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/about
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.mAISxrBvDjRRmvluejMAd2QKo4kl9gM5AxXdz0jiwVzLUg-L55UTye1csMLxKf1o9mA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/KqkTRQtDvTHhxanizPgROCiiMZM"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#about",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/KqkTRQtDvTHhxanizPgROCiiMZM\"",
         "selfLink": "https://www.googleapis.com/drive/v2/about",
         "name": "Aaron Greenspan",
         "user": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "quotaBytesTotal": "16106127360",
         "quotaBytesUsed": "784286542",
         "quotaBytesUsedAggregate": "3393165513",
         "quotaBytesUsedInTrash": "222422045",
         "quotaType": "LIMITED",
         "quotaBytesByService": [
          {
           "serviceName": "DRIVE",
           "bytesUsed": "782270227"
          },
          {
           "serviceName": "GMAIL",
           "bytesUsed": "2608878971"
          },
          {
           "serviceName": "PHOTOS",
           "bytesUsed": "0"
          }
         ],
         "largestChangeId": "28323",
         "rootFolderId": "0AKRbWURSvBBZUk9PVA",
         "domainSharingPolicy": "allowed",
         "permissionId": "18263496424187584795",
         "importFormats": [
          {
           "source": "application/x-vnd.oasis.opendocument.presentation",
           "targets": [
            "application/vnd.google-apps.presentation"
           ]
          },
          {
           "source": "text/tab-separated-values",
           "targets": [
            "application/vnd.google-apps.spreadsheet"
           ]
          },
          {
           "source": "image/jpeg",
           "targets": [
            "application/vnd.google-apps.document"
           ]
          },
          {
           "source": "image/bmp",
           "targets": [
            "application/vnd.goo[...]
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"title":"Test"}'
    headers:
      Authorization:
      - Bearer ya29.mAISxrBvDjRRmvluejMAd2QKo4kl9gM5AxXdz0jiwVzLUg-L55UTye1csMLxKf1o9mA
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '6'
      X-Goog-Upload-Header-Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UroYFj8cy7ZQzbQssh6SBKqLnvvp-WoI7Onjc2aDPP5p38OwYZvHgYbCCD9vSXf0sG1szleBNVnERzp6V-vEOl-OjNPsw&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UroYFj8cy7ZQzbQssh6SBKqLnvvp-WoI7Onjc2aDPP5p38OwYZvHgYbCCD9vSXf0sG1szleBNVnERzp6V-vEOl-OjNPsw&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/7lwK8xHvA4GAA1B8wnNV0Akc7ec"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - oifz198:4722
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CODbuOmyDxoCGAYwADpsCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGL_n4ebLESJINjA0NDYzNzIzNDU1LWpxZmFwaG50N3RtcnEwdmVnYm5sczNzdmc0cHIzZ3VjLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tMPEOSlsSSHlhMjkubUFJU3hyQnZEalJSbXZsdWVqTUFkMlFLbzRrbDlnTTVBeFhkejBqaXdWekxVZy1MNTVVVHllMWNzTUx4S2YxbzltQTAEOg0xL0VFd1dWZEtlV3J-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Wed, 02 Mar 2016 00:10:32 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Mar 2016 00:10:31 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UroYFj8cy7ZQzbQssh6SBKqLnvvp-WoI7Onjc2aDPP5p38OwYZvHgYbCCD9vSXf0sG1szleBNVnERzp6V-vEOl-OjNPsw&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: |
        Test2
    headers:
      Authorization:
      - Bearer ya29.mAISxrBvDjRRmvluejMAd2QKo4kl9gM5AxXdz0jiwVzLUg-L55UTye1csMLxKf1o9mA
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1Njg3NzQzMjYxNA"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B6RbWURSvBBZMWY4dzdCQWxhZFE",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1Njg3NzQzMjYxNA\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZMWY4dzdCQWxhZFE",
         "webContentLink": "https://docs.google.com/uc?id=0B6RbWURSvBBZMWY4dzdCQWxhZFE&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B6RbWURSvBBZMWY4dzdCQWxhZFE/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_10_text_list.png",
         "title": "Test",
         "mimeType": "text/plain",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-02T00:10:32.614Z",
         "modifiedDate": "2016-03-02T00:10:32.614Z",
         "modifiedByMeDate": "2016-03-02T00:10:32.614Z",
         "lastViewedByMeDate": "2016-03-02T00:10:32.614Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "28324",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AKRbWURSvBBZUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZMWY4dzdCQWxhZFE/parents/0AKRbWURSvBBZUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AKRbWURSvBBZUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-0c-00-docs.googleusercontent.com/docs/securesc/2vqebim1tkcv5ku1huq6787nnmiolkcl/bq63q77afqnhvl3i663001rl48641rkc/1456876800000/18263496424187584795/18263496424187584795/0B6RbWURSvBBZMWY4dzdCQWxhZFE?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/ljj7cgcqEs54KGs8OLewp2aCL4g\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZMWY4dzdCQWxhZFE/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Test",
         "fileExtension": "",
         "md5Checksum": "856babf68edfd13e2fd019df330e11c5",
         "fileSize": "6",
         "quotaBytesUsed": "6",
         "ownerNames": [
          "Aaron Greenspan"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Aaron Greenspan",
           "isAuthenticatedUser": true,
           "permissionId": "18263496424187584795",
           "emailAddress": "afg419@gmail.com"
          }
         ],
         "lastModifyingUserName": "Aaron Greenspan",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B6RbWURSvBBZNVdYSzFjeHBIOVVkd3JDbk55SEVPYkpxTU9nPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Wed, 02 Mar 2016 00:10:32 GMT
recorded_with: VCR 3.0.1
