---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/about
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.nAJ4nt886xUAtaaFEbouQO3cUQxZHEVWGhKx0kzG2tQbBEFOVCZm0Yzf133d8_OoqZI
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/Pe2GAWU3ZbBujvH_--6U478NgPA"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#about",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/Pe2GAWU3ZbBujvH_--6U478NgPA\"",
         "selfLink": "https://www.googleapis.com/drive/v2/about",
         "name": "Aaron Greenspan",
         "user": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "quotaBytesTotal": "16106127360",
         "quotaBytesUsed": "784287191",
         "quotaBytesUsedAggregate": "3393166162",
         "quotaBytesUsedInTrash": "222422152",
         "quotaType": "LIMITED",
         "quotaBytesByService": [
          {
           "serviceName": "DRIVE",
           "bytesUsed": "782270227"
          },
          {
           "serviceName": "GMAIL",
           "bytesUsed": "2608878971"
          },
          {
           "serviceName": "PHOTOS",
           "bytesUsed": "0"
          }
         ],
         "largestChangeId": "28644",
         "rootFolderId": "0AKRbWURSvBBZUk9PVA",
         "domainSharingPolicy": "allowed",
         "permissionId": "18263496424187584795",
         "importFormats": [
          {
           "source": "application/x-vnd.oasis.opendocument.presentation",
           "targets": [
            "application/vnd.google-apps.presentation"
           ]
          },
          {
           "source": "text/tab-separated-values",
           "targets": [
            "application/vnd.google-apps.spreadsheet"
           ]
          },
          {
           "source": "image/jpeg",
           "targets": [
            "application/vnd.google-apps.document"
           ]
          },
          {
           "source": "image/bmp",
           "targets": [
            "application/vnd.goo[...]
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"title":"Title1"}'
    headers:
      Authorization:
      - Bearer ya29.nAJ4nt886xUAtaaFEbouQO3cUQxZHEVWGhKx0kzG2tQbBEFOVCZm0Yzf133d8_OoqZI
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '11'
      X-Goog-Upload-Header-Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpUHqxiRemlI04M3Rowpk1PFqrF0WdlSFURrEUjTV7mcCYfbPKEyytDAgzYGTA8Qj1e0Rs1exO6pGnUN3heqeF3j3jnjg&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpUHqxiRemlI04M3Rowpk1PFqrF0WdlSFURrEUjTV7mcCYfbPKEyytDAgzYGTA8Qj1e0Rs1exO6pGnUN3heqeF3j3jnjg&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/7lwK8xHvA4GAA1B8wnNV0Akc7ec"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - oifa125:4890
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CODbuOmyDxoCGAYwADpsCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGL_n4ebLESJINjA0NDYzNzIzNDU1LWpxZmFwaG50N3RtcnEwdmVnYm5sczNzdmc0cHIzZ3VjLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tMPEOSlsSSHlhMjkubkFKNG50ODg2eFVBdGFhRkVib3VRTzNjVVF4WkhFVldHaEt4MGt6RzJ0UWJCRUZPVkNabTBZemYxMzNkOF9Pb3FaSTAEOg0xL0VFd1dWZEtlV3J-
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Sat, 05 Mar 2016 23:08:31 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 05 Mar 2016 23:08:31 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpUHqxiRemlI04M3Rowpk1PFqrF0WdlSFURrEUjTV7mcCYfbPKEyytDAgzYGTA8Qj1e0Rs1exO6pGnUN3heqeF3j3jnjg&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: I hate life
    headers:
      Authorization:
      - Bearer ya29.nAJ4nt886xUAtaaFEbouQO3cUQxZHEVWGhKx0kzG2tQbBEFOVCZm0Yzf133d8_OoqZI
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1NzIxOTMxMjI0OA"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B6RbWURSvBBZa0VMUEI1NXBMVlU",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1NzIxOTMxMjI0OA\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZa0VMUEI1NXBMVlU",
         "webContentLink": "https://docs.google.com/uc?id=0B6RbWURSvBBZa0VMUEI1NXBMVlU&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B6RbWURSvBBZa0VMUEI1NXBMVlU/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_10_text_list.png",
         "title": "Title1",
         "mimeType": "text/plain",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-05T23:08:32.248Z",
         "modifiedDate": "2016-03-05T23:08:32.248Z",
         "modifiedByMeDate": "2016-03-05T23:08:32.248Z",
         "lastViewedByMeDate": "2016-03-05T23:08:32.248Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "28645",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AKRbWURSvBBZUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZa0VMUEI1NXBMVlU/parents/0AKRbWURSvBBZUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AKRbWURSvBBZUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-00-00-docs.googleusercontent.com/docs/securesc/2vqebim1tkcv5ku1huq6787nnmiolkcl/rsktcd73603slv6li28s36l6ovuda9ot/1457215200000/18263496424187584795/18263496424187584795/0B6RbWURSvBBZa0VMUEI1NXBMVlU?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/FObTg_W3jOWXAurLk7dK1Xh0w2g\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B6RbWURSvBBZa0VMUEI1NXBMVlU/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Title1",
         "fileExtension": "",
         "md5Checksum": "0424f3d4f310b0e372ed6294a4ff8f7b",
         "fileSize": "11",
         "quotaBytesUsed": "11",
         "ownerNames": [
          "Aaron Greenspan"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Aaron Greenspan",
           "isAuthenticatedUser": true,
           "permissionId": "18263496424187584795",
           "emailAddress": "afg419@gmail.com"
          }
         ],
         "lastModifyingUserName": "Aaron Greenspan",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Aaron Greenspan",
          "isAuthenticatedUser": true,
          "permissionId": "18263496424187584795",
          "emailAddress": "afg419@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B6RbWURSvBBZVW9zWTY1d2lnK2djamh6QWROMjZ0SVY1Yk5nPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Sat, 05 Mar 2016 23:08:32 GMT
recorded_with: VCR 3.0.1
