<div class="dashboard3-show">
  <br>
  <h3>Welcome <%= current_user.name %> </h3>
</div>

<div class="message-box">
  
</div>

<div class="new-entry">
  <%= link_to "New Journal Entry", new_journal_entry_path, class: 'btn btn-default' %>
</div>
