<div class="dashboard3-show">
  <br>
  <h2>Welcome <%= current_user.name %> </h2>
</div>
<br><br><br>
<div class="container <%='message-box' if current_user.app_messages.current_message %>">
  <%= current_user.app_messages.current_message %>
</div>

<div class="new-entry">
  <%= link_to "New Journal Entry", new_journal_entry_path, class: 'btn btn-default' %>
</div>
