<div class="dashboard3-show">
  <br>
  <h2>Welcome <%= current_user.name %> </h2>
</div>
<br><br><br>

<% if note = current_user.app_messages.current_message  %>
  <div class="container message-box">
    <% note = current_user.app_messages.current_message %>
    <%= note.message %><br>
    <ul>
      <% note.links.each do |title, href| %>
      <li><%= link_to title, href, style: "color:white", target: "_blank" %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="new-entry">
  <%= link_to "New Journal Entry", new_journal_entry_path, class: 'btn btn-default' %>
</div>
