/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   height: 100vh;
   font-family: 'Josefin Slab', serif;
 }

 .application-body-home {
   background: url("home.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
 }

 .application-body-dashboard2 {
   background: url("dashboard2.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
 }

 .application-body-dashboard3 {
   background: url("dashboard3.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
 }

 .application-body-pool {
   background: url("pool.jpeg") no-repeat center center fixed;
   opacity: 10;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
 }

 .application-body-woods {
   background: url("woods.jpeg") no-repeat center center fixed;
   opacity: 10;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
 }

 .application-body-solid {
   background-color: #84A1AB;
  //  opacity: 10;
  //  -webkit-background-size: cover;
  //  -moz-background-size: cover;
  //  -o-background-size: cover;
  //  background-size: cover;
  //  background-attachment: fixed;
 }


 .solid .logged-in-nav {
   background-color: rgba(14,12,10,0.65)
 }

 .solid  .nav-button{
   // background: black;
   color: #C7D4D7;
   &:hover{
     background-color: #62868E;
     color: black;
     border-width: 2px;
    //  border-color: white;
   }
 }



 .dashboard3 .logged-in-nav {
   background-color: rgba(14,12,10,0.15)
 }

 .dashboard3  .nav-button{
   // background: black;
   color: #D9C0A1;
   &:hover{
     background-color: #62868E;
     color: black;
     border-width: 2px;
     // border-color: white;

   }
 }

 .woods .logged-in-nav {
   background-color: rgba(14,12,10,0.75)
 }

 .woods  .nav-button{
   // background: black;
   color: #D1D0D0;
   &:hover{
     background-color: #62868E;
     color: black;
     border-width: 2px;
     // border-color: white;

   }
 }


.login{
  text-align: center;
  line-height: 800px;
  .btn-default {
    font-size: large;
    background-color: rgba(0,0,0,0.45);
    color: #CBC5D1;
    border-width: 2px;
    border-color: #62868E;
    &:hover{
      background: none;
      color: white;
      border-width: 2px;
      border-color: white;
    }
  }
}

.new-entry{
  text-align: center;
  line-height: 800px;
  .btn-default {
    font-size: large;
    background-color: rgba(0,0,0,0.25);
    color: #FFD582;
    border-width: 2px;
    border-color: #99A199;
    &:hover{
      background: none;
      color: white;
      border-width: 2px;
      border-color: white;
    }
  }
}

.create-entry {
  input{
    font-size: large;
    background-color: rgba(0,0,0,0.45);
    color: #CBC5D1;
    border-width: 2px;
    border-color: #62868E;
    &:hover{
      background: none;
      color: white;
      border-width: 2px;
      border-color: white;
    }
  }
}


textarea#journal_entry_body {
  font-family: sans-serif;
    width: 95%;
    height: 440px;
    background-color: rgba(0,0,0,0.65);
    padding: 20px;
    color: #C7D4D7;
}

input#tag{
  font-family:sans-serif;
  width: 95%;
  background-color: rgba(0,0,0,0.85);
  padding: 20px;
  color: #C7D4D7;
  border-color:#999999
}

.emotion-select{
  background-color: rgba(255,255,255,0.55);
  .emotions {
    background-color: #2E383B;
    padding-top: 10px;
  }
}

.happy{
  color: yellow;
}

.sad{
  color: blue;
}
