/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */


 @import "bootstrap-sprockets";
 @import "bootstrap";

 .application-body-home {
   background: url("home.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
 }

 .application-body-dashboard2 {
   background: url("dashboard2.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
 }

 .application-body-dashboard3 {
   background: url("dashboard3.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
 }


 .btn-default {
   background: none;
   color: #CBC5D1;
   border-width: 2px;
   border-color: #62868E;
 }

 .btn-default:hover {
   background: none;
   color: white;
   border-width: 2px;
   border-color: white;
 }

 .logged-in-nav {
   background-color: rgba(14,12,10,0.9)
 }

.login{
  text-align: center;
  line-height: 800px;
}

.nav-button{
  background: none;
  color: #77909F;
  border-width: 2px;
  border-color: #62868E;
  &:hover{
    background-color: #62868E;
    color: black;
    border-width: 2px;
    border-color: white;

  }
}
