.application-body-home {
  background: image-path("home.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.application-body-dashboard2 {
  background: image-path("dashboard2.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.application-body-dashboard3 {
  background: image-path("dashboard3.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  // background-color: rgb(50,25,25)
  // background-color: #BCC2CF;
}

.application-body-pool {
  background: image-path("pool.jpeg") no-repeat center center fixed;
  opacity: 10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.application-body-woods {
  background: image-path("woods.jpeg") no-repeat center center fixed;
  opacity: 10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.application-body-solid {
  // background-color: #84A1AB;
 //  opacity: 10;
 //  -webkit-background-size: cover;
 //  -moz-background-size: cover;
 //  -o-background-size: cover;
 //  background-size: cover;
 //  background-attachment: fixed;
}
