.happy{
  // color: yellow;
  // color: white;
  color: #EAD9C3;

}

.sad{
  // color: blue;
  // color: white;
  color: #EAD9C3;
}

.angry{
  // color: red;
  // color: white;
  color: #EAD9C3;
}

.anxious{
  // color: purple;
  // color: white;
  color: #EAD9C3;
}

.focused{
  // color: orange;
  // color: white;
  color: #EAD9C3;
}

.content{
  // color: green;
  // color: white;
  color: #EAD9C3;
}
