
// .inactive input[type=range] {
//     -webkit-appearance: none;
//     border-radius:10px;
//     background-color: rgb(45,45,45)!important;
//     outline: none;
//     height: 5px;
// }


input[type=range] {
    -webkit-appearance: none;
    border-radius:10px;
    outline: none;
    height: 5px;
}

.happy{
  // color: yellow;
  // color: white;
  color: #EAD9C3;

}

// .sad input[type=range] {
//     -webkit-appearance: none;
//     border-radius:10px;
//     background-color: #186991;
//     outline: none;
//     height: 5px;
// }

// .angry input[type=range] {
//     -webkit-appearance: none;
//     border-radius:10px;
//     background-color: #951313;
//     outline: none;
//     height: 5px;
// }


.sad{
  // color: blue;
  // color: white;
  color: #EAD9C3;
}

.angry{
  // color: red;
  // color: white;
  color: #EAD9C3;
}

.anxious{
  // color: purple;
  // color: white;
  color: #EAD9C3;
}

.focused{
  // color: orange;
  // color: white;
  color: #EAD9C3;
}

.content{
  // color: green;
  // color: white;
  color: #EAD9C3;
}
